/* base */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* utilities */
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: blue;
}
.common_btn{
    background: #1D4ED8;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 700;
    font-size: 1rem;
}

header{
    background: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
}
/* NAVBAR SECTION START FROM HERE FOR CSS */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;



    padding: 2rem 1.5rem;
}

.navbar_left{
    display: flex;
    align-items: center;
    gap: 5px;
}


.logo_text{
    display: block;
}
.text_1{
    font-size: 20px;
}
.text_2{
    font-size: 18px;
}

.navbar_center ul{
    display: flex;
    gap: 3rem;
}
.navbar_center ul li a{
    color: #575757;
}


/* Hero Section Start for CSS */

.hero{
    background-image:     linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8)),
url("./assets/banner.jpg");
    background-size: contain;
    height: 100vh;
    width: 100%;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.hero_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero_text h1{
    color: #ffffff;
    font-size: 4rem;
    text-align: center;
}
.hero_text p{
    color: #f7efef;
    text-align: center;
    max-width: 500px;
}

.hero_btn.common_btn{
    font-size: 1.5rem;
}
/* -----Hero section END here----- */

/*      <!-- Meet the Speakers Section Start -->  */
.meet_speaker{
    max-width: 1100px;
    margin: 3rem auto;
    

}
.meet_speaker h2{
    text-align: center;
    font-size: 56px;
    margin-bottom: 3rem;
}

.speakers_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.speaker_card{
    border: 1px solid gray;
    border-radius: 0 0 8px 8px;
    padding-bottom: 1rem;
    
}
.speaker_card img{
    max-width: 100%;
}
.industry_name, .speaker_name, .speaker_role{
    margin-left: 1rem;
    margin-top: 1rem;
}
.industry_name{
    font-size: 0.8rem;
    color: #1D4ED8;
}
.speaker_name{
    font-size: 1.9rem;
    font-weight: 900;
}
.speaker_role{
    color: gray;
    font-size: 1rem;
}
/*      <!-- Meet the Speakers Section End -->  */